* {
  font-family: monospace;
}

p {
  font-size: 16px;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  color: #f2f4f3;
  background: #12130f;
}

header {
  background: #2c3e50;
  color: #ffffff;
  padding: 1rem 0;
  text-align: center;
}

h4 {
  line-height: 0%;
}

nav {
  font-size: 16px;
  text-align: center;
  padding: 0.5rem 0;
  background: #1d192e;
  border-bottom: 1px dashed #4a4c48;
}

nav a {
  color: RGBA(255, 255, 255, 0.7);
  margin: 0 1rem;
  text-decoration: none;
  transition: 0.25s ease-in-out;
}

nav a:hover {
  color: RGBA(255, 255, 255, 1);
  transition: 0.25s ease-in-out;
  text-decoration: underline;
}

hr {
  color: RGBA(255, 255, 255, 0);
  border-bottom: 1px dashed #4a4c48;
}

.center {
  display: flex;
  justify-content: center;
}

.container {
  width: 80%;
  margin: auto;
  overflow: hidden;
  padding: 2rem 0;
}

/* Button for selecting writeups */

.writeups-button {
  letter-spacing: 1px;
  border: 2px solid #786BAD;
  border-radius: 20px;
  width: 50%;
  background: #1d192e;
  text-align: center;

  padding: 4px 32px;
  display: inline-block;
  font-size: 16px;
  margin: 10px 2px;
  cursor: pointer;

  transition: 0.1s ease-in-out;
}

.writeups-button:hover {
  transition: 0.1s ease-in-out;
  padding: 2px 32px;

  background: #271e4c;
  border: 2px solid #ffff;
  width: 52%;
  color: RGBA(255, 255, 255, 1);
  letter-spacing: 4px;
}

.competetion-name {
  padding: 0rem 25%;
}

.writeups-link {
  text-decoration: none;
  color: RGBA(255, 255, 255, 0.7);
}

/* Challenge Information Card */

.challenge-info {
  display: flex;
  justify-content: center;

  color: RGBA(255, 255, 255, 0.7);
  border: 1px solid;
  border-radius: 20px;
  width: 90%;
  background: #1d192e;
  text-align: center;

  display: inline-block;
  font-size: 16px;
  margin: 40px 0px;
  padding: 0px 0px;
  padding-bottom: 30px;
}

.challenge-meta {
  border: 1px solid;
  border-radius: 20px;
  width: 95%;
  height: 20%;
  background: #484166;
  text-align: center;
  line-height: 90%;

  display: inline-flex;
}

.meta-component {
  width: 100%;
  text-align: center;
  display: inline-block;
}

.description {
  border: 1px solid;
  border-radius: 20px;
  width: 95%;
  background: #18161f;
  text-align: center;

  display: inline-block;
  margin: 20px 0px;
}



