
.jetbrains-mono-font {
  font-family: "JetBrains Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
}

* {
	font-family: JetBrains Mono,Consolas, "Liberation Mono", Menlo, Courier, monospace;
    font-weight: 100;

    --color-nav: #18161F;
    --color-background: #12130F;
    --color-main: #18161F;
    --color-dark-accent: #151517;
    --color-light-accent2: #534E74;
    --color-light-accent: #8D86C9;
    --color-font: #F2F4FF;
}

b {
    font-weight: 500;
    color: var(--color-light-accent);
}

.low-line-height{
    line-height: 10px;
}

.p-link{
    font-weight: 500;
    color: var(--color-light-accent);
    text-decoration: underline;
    text-decoration-style: dotted
}



p {
  font-size: 18px;
}

body {
  line-height: 1.6;
  margin: 0;
  padding: 0;
  color: #f2f4f3;
  background: var(--color-background);
}


h4 {
  line-height: 0%;
}

/* navbar */

.nav-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 9% 10px;
  background-color: var(--color-nav);
  border-bottom: 1px solid var(--color-light-accent);

}
.nav_links {
    list-style: none;
    display: flex;
    height: 40px;

}

.nav_links li {
  padding: 0px 0px 0px ;
  padding-left: 35px;
}

nav{

  padding-left: 35px;
}


nav a::after {
  content: "";
  position: absolute;
  width: 0;
  background-color: var(--color-font);
  left: 50%;
  transform: translateX(-50%);
  bottom: -0.25em;
  height: 2px;
  border-radius: 8px;
  transition: all 0.3s ease;
}

nav a:hover::after{
  width: 100%;
  animation: pulse11 .5s; 
  box-shadow: 0 0 0 1em transparent;
}


nav a {
  color: RGBA(255, 255, 255, 0.7);
  text-decoration: none;
  transition: all 0.3s ease;
  padding: 10px 20px;
  margin: 0 5px;
  border-radius: 8px;
  position: relative;
  font-size: 20px;
}

nav a:hover{
  font-size: 25px;
    color: #fff;
}

@keyframes pulse11 {
  0% {
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.4);
  }
  100% {
    box-shadow: 0 0 0 .5em transparent;
  }
}


.cta {
 }

.cta:hover {

}

.logo{
    padding-left: 20px;
  }
/* extra */

hr {
  color: var(--color-light-accent);
  border-bottom: 1px solid var(--color-light-accent);
}

.center {
  display: flex;
  justify-content: center;
}

.small-container{
  width: 50%;
  margin: auto;
  overflow: hidden;
  padding: 2rem 0;
}

.container{
  width: 80%;
  margin: auto;
  overflow: hidden;
  padding: 2rem 0;
}

/* Button for selecting writeups */
.writeups {

}
.all-writeups {

}

.writeup-button {

  border: 2px solid var(--color-light-accent2);
  border-radius: 20px;
  background: var(--color-dark-accent);
  text-align: center;
  width: 100%;
  margin-top: 20px;
  cursor: pointer;
  transition: 0.1s ease-in-out;

}

.button-list {
}

.writeup-button:hover {
  transition: 0.1s ease-in-out;
  transform: translateX(10px);
  background: var(--color-main);
  border: 2px solid var(--color-light-accent);
}

.writeup-link {
  text-decoration: none;
  font-size: 20px;
  color: var(--color-font);
}

/* writeups filter */

.filters{


    padding: 1%;
    padding-left: 2%;
    padding-right: 2%;

    margin-top: 3%;
    margin-bottom: 5%;


    display: flex;
    justify-content: center;
    align-items: center;
    

}

.drop-down{

    width: 60%;
    padding: 5px 35px 5px 5px;
    font-size: 16px;
    border: 1px solid var(--color-light-accent);
    background-color: var(--color-main);
    color: var(--color-font);
    border-radius: 5px;

}

.drop-down:hover{

}

.filter-element{


}

/* writeups tree */

.tree {

    margin-right: 15%;
    margin-left: 10%;
    justify-content: center;
    padding: 0%;

    --border-width: 2px;
    --spacing: 30px;
    --radius: 13px;
}

.tree li {
  display: block;
  position: relative;

  padding-left: calc(2 * var(--spacing) - var(--radius) - 2px);
}

.tree ul {
  margin-left: calc(var(--radius) - var(--spacing));
  padding-left: 0;
}

.tree ul li {
  border-left: var(--border-width) solid var(--color-light-accent2);
}

.tree ul li:last-child {
  border-color: transparent;
}

.tree ul li::before {
  content: '';
  display: block;
  position: absolute;
  top: calc(var(--spacing) / -1);
  left: -2px;
  width: calc(var(--spacing) + 0px);
  height: calc(var(--spacing) + 25px);
  border: solid var(--color-light-accent2);
  border-width: 0 0 var(--border-width) var(--border-width);
}

.comp-tree {
    padding: 0px 0px 28px 0px;
  padding-left: calc(2 * var(--spacing) - var(--radius) - 2px);

}
/* Challenge Information Card */

.challenge-info {
  display: flex;
  justify-content: center;

  color: var(color-font);
  border: 1px solid var(--color-light-accent);
  border-radius: 20px;
  width: 90%;
  background: var(--color-main);
  text-align: center;

  display: inline-block;
  font-size: 16px;
  margin: 40px 0px;
  padding: 0px 0px;
  padding-bottom: 30px;
}

.challenge-meta {
  border: 1px solid var(--color-light-accent);
  border-radius: 20px;
  width: 95%;
  height: 20%;
  background: var(--color-dark-accent);
  text-align: center;
  line-height: 90%;

  display: inline-flex;
}

.meta-component {
  width: 100%;
  text-align: center;
  display: inline-block;
}

.description {
  border: 1px solid var(--color-light-accent);
  border-radius: 20px;
  width: 95%;
  background: var(--color-dark-accent);
  text-align: center;

  display: inline-block;
  margin: 20px 0px;
}
/*
 * tree blocks at each node:

.tree li::after,
.tree summary::before {
  content: '';
  display: block;
  position: absolute;
  top: calc(var(--spacing) / 1 - var(--radius) + 2px);
  left: calc(var(--spacing) - var(--radius) + 8px );
  width: calc(var(--radius) - 5px);
  height: calc(var(--radius) - 5px);
  border-radius: 0%;
  background: #778;
}
*/

/* about page */
.icons{
    display: flex;
    justify-content: center;

    --icon-padding: 4%;
    --icon-max-size: 100%;
    --icon-max-size: 100%;

}

.java-icon{
    padding: var(--icon-padding);
    width: var(--icon-max-size);
    height: var(--icon-max-size);
}

.c-icon{
    padding: var(--icon-padding);
    width: var(--icon-max-size);
    height: var(--icon-max-size);
}

.cpp-icon{
    padding: var(--icon-padding);
    width: 110%;
    height: 110%;
}

.python-icon{
    padding: var(--icon-padding);
    width: var(--icon-max-size);
    height: var(--icon-max-size);
}

.cards{

}

.skill-card{

}

.skill-card:hover{

}

.card-container{
    
    border: 1px solid var(--color-light-accent);
    background-color: var(--color-main);
    border-radius: 20px;
    color: var(--color-font);
    margin: 5%;
    padding: 4%;

    display: flex;
    justify-content: space-between;
    align-items: center;


}

.card-image-ghidra{

    width: 50%; 
    height: 50%;
    padding-right: 4%;


}

.card-image-wireshark{

    width: 55%; 
    height: 50%;
    padding-right: 4%;

}


.card-image-burp{

    width: 42%; 
    height: 50%;
    padding-right: 4%;

}

.card-image-hashcat{

    width: 62%; 
    height: 50%;
    padding-right: 4%;

}


.top-padding{
    padding-top: 2%;
}

.top-padding-small{
    padding-top: 1%;
}

.title{
    text-align: center;
    font-size: 30px;
}

.blurb{
    transform: TranslateY(-10px);
}

.center-title{
    margin-top: 5%;
    text-align: center;
}

/* contact page */

.contact-icon{

    padding: var(--icon-padding);
    width: 20%; 
    height: 20%;

}

.contact-container{

    border-radius: 20px;
    color: var(--color-font);
    display: flex;
    margin-top:6%;

}

.contact-group{

    background-color: var(--color-dark-accent);
    border: 1px solid var(--color-light-accent2);
    border-radius: 100px;
    padding:3%;
    margin: 7%;
    padding-left: 0%;
    padding-right: 0%;
    color: var(--color-font);
    cursor: pointer;

    transition: 0.1s ease-in-out;

}

.contact-group:hover{

    transition: 0.1s ease-in-out;
    transform: translateY(-5px);
    background-color: var(--color-main);
    border-color: var(--color-light-accent);

}

.contact-link:link{
    text-decoration: none;
}


.contact-form {

    margin: 2%;
    margin-top: 4%;

}

input, textarea{

    color:white;
    font-weight:300;
    font-size: 18px;
    border-radius: 5px;
    line-height: 22px;
    transition: all 0.3s;
    padding: 2%;
    margin-bottom: 2%;
    width:100%;
    box-sizing: border-box;
    outline:0;

    background-color: var(--color-dark-accent);
    border: 1px solid var(--color-light-accent2);
    color: var(--color-font);

}



input:focus, textarea:focus {

    background-color: var(--color-main);
    border:1px solid var(--color-light-accent); 

}

textarea{

  height: 200px;
  line-height: 150%;
  resize:vertical;

}

.error-input > input{
    border-color: red;
    margin: 0%;
}

[type="submit"] {

    width: 100%;
    border-radius:5px;
    border:0;
    cursor:pointer;
    padding-top:10px;
    padding-bottom:10px;
    transition: all 0.3s;
    margin-top:-4px;
    font-weight:400;
    padding: 3%;
    background-color: var(--color-dark-accent);
    border: 1px solid var(--color-light-accent2);
    color: var(--color-font);

}

[type="submit"]:hover 
{
    transition: 0.1s ease-in-out;
    background-color: var(--color-main);
    color: RGBA(255, 255, 255, 1);

    border-color: var(--color-light-accent);
}

.error-message > ul{

    color: RGB(255, 0, 0);
    list-style-type: none;
    margin-left: 0;
    padding: 0;

}

.field-label{
    color: var(--color-font);
    font-size: 15px;
}

