{% extends "index.html" %}
{% load static %}

{% block content %}
    <div class="container">

    <div>
        <h1> About </h1>
        <hr></hr>

    </div>

    <div>
        <h2>Jacob Epps</h2>
    </div>

        <p>
            I am a Cybersecurity student at the University of South Carolina Aiken. 
            My focus areas include reverse engineering, binary analysis, and penetration testing. 
            I thrive on understanding how systems function deeply and aim to expand my expertise in Cybersecurity and technology.

        </p>
    <div>
        <h1> Skills </h1>
        <hr></hr>
        <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </p>

    </div>
    </div>

{% endblock content %}

