<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jacob Epps - Home</title>

    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <link rel="stylesheet" href="{% static 'prism/prism.css' %}">
    <script type="module" src="{% static 'js/md-block.js' %}"></script>
    <script src="{% static 'prism/prism.js' %}"></script>

    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap" rel="stylesheet">
   
</head>
<body>
    <header class="nav-header">
    <a class="logo" href="{% url "home" %}"><img class="logo-img" src="/media/Logo.png" alt="logo"></a>
    <nav>
        <ul class="nav_links">
            <li><a class="link-text" href="{% url "home" %}">About</a></li>
            <li><a class="link-text" href="{% url "projects" %}">Projects</a></li>
            <li><a class="link-text" href="{% url "writeups" %}">CTF</a></li>
            <li><a class="link-text" href="{% url "contact" %}">Contact</a></li>
        </ul>
    </nav>
    </header>

    {% block content %}

    {% endblock content %}

    <footer>
        <p>
            <a href="https://www.jacobepps.com">
              About
            </a>
             
            <a href="https://ww.jacobepps.com/contact">
              Contact 
            </a>
        </p>

        <p>

        <a href="mailto:1jepps10@gmail.com">1jepps10@gmail.com</a>
        <a href="https://github.com/1jepps0">Github</a>
        <a href="https://www.linkedin.com/in/jacob-epps-26b416287/">LinkedIn</a>

        </p>

        <p>©2025 Jacob Epps</p>
    </footer>


</body>
</html>

