{% extends "index.html" %}
{% load static %}

{% block content %}

        <div class="success-container">
        

            <h1 class="success-message"> Successfully Sent! </h1>
            <img class="success-img"  src="/media/success.svg" width=200 height=200> 

        </div>
    <div class="small-container">



       
        <div class="contact-container">

            <a class="contact-link" href="https://github.com/1jepps0" target=”_blank” >
                <button class="contact-group">
                    <img class="contact-icon" src="/media/github.svg"> 
                </button>
            </a>

            <a class="contact-link" href="https://www.linkedin.com/in/jacob-epps-26b416287/" target=”_blank” >
                <button class="contact-group">
                    <img class="contact-icon" src="/media/linkedin.svg">
                </button>
            </a>

            <a class="contact-link" href="mailto:1jepps10@gmail.com">
                <button class="contact-group">
                    <img class="contact-icon" src="/media/email.svg">
                </button>
            </a>

        </div>



</div>



{% endblock content %}


