{% extends "index.html" %}
{% load static %}

{% block content %}
    <div class="container">
    <div class="center">
         <div class="challenge-info">
            <h2>
                {{name}}
            </h2>
            <div class="challenge-meta">

                <div class="meta-component">
                    <h4>Competetion</h4>
                    <i>{{competition}}</i>
                    <br>
                </div>

                <div class="meta-component">
                    <h4>Challenge Author</h4> 
                    <i>{{author}}</i>
                    <br>
                </div>

                <div class="meta-component">
                    <h4>Tags</h4> 
                    <i>{{tags}}</i>
                    <br>
                </div>

            </div>

            <div class="description">
                <h4>Description</h4>
                <p>
                    {{description}}
                <br>
                <br>
                <h4> Hints </h4>
                {{hints}}
                </p>
            </div>

        </div>
    </div>

    <h1>
        Solution
        <hr></hr>
    </h1>

    <md-block class="line-numbers">
        {{markdown_body}}
    </md-block>

       
    </div>

{% endblock content %}

