{% extends "index.html" %}
{% load static %}

{% block content %}
    <div class="container">
        <div>
        </div>
    </div>

    <div class="all-writeups">

    <ul class="tree" >
        {% for competition, categories in writeups.items %}
    <li>
        <h2> {{ competition }} </h2>
            <ul class="comp-tree">

            {% for category, writeups in categories.items %}

                <li>

                    <h3><i> {{ category }}</i> </h3>
                
                    <ul class="button-list">
                        {% for writeup in writeups %}
                        <li>
                            <div class="writeup-button">
                            <a class="writeup-link" href='{% url 'writeup' writeup.name %}' >
                                <h4>{{ writeup.name }}</h4>

                            </a>
                            </div>
                        </li>
                        {% endfor %}

                    </ul>

                </li>

            {% endfor %}
    </ul>
        {% endfor %}
    </ul>
    </div>
  
{% endblock content %}

