{% extends "index.html" %}
{% load static %}

{% block content %}
    <div class="small-container">
        <div class="center">
             <div class="challenge-info">
                <h1>
                    {{data.name}}
                </h1>

                <div class="project-card-tags">
                    {% for tag in tags %}
                        <p class="project-card-tag">
                            {{tag}}
                        </p>
                    {% endfor %}
                </div>
                
                <div class="challenge-meta">

                    <div class="meta-component">
                        <h3 class="meta-header">Competetion</h3>
                        <i class="meta-value">{{data.competition}}</i>
                        <br>
                    </div>

                    <div class="meta-component">
                        <h3 class="meta-header">Challenge Author</h3> 
                        <i class="meta-value">{{data.author}}</i>
                        <br>
                    </div>

                    <div class="meta-component">
                        <h3 class="meta-header">Date</h3> 
                        <i class="meta-value">{{data.date}}</i>
                        <br>
                    </div>



                </div>

                <div class="description">
                    <p>
                        <span id="descriptionText">{{data.description}}</span>
                    </p>
                    <br>
                    <h3> Hints </h3>
                    <span id="hintText"> {{data.hints}} </span>
                </div>

            </div>

        </div>
    <h1>
        Solution
        <hr></hr>
    </h1>

    <md-block class="line-numbers">
        {{data.markdown_body}}
    </md-block>

       


    </div>


    <script>

        function convertAndReplaceText(elementId) {
            const element = document.getElementById(elementId);
            const text = element.textContent;
            const regex = /\\n|\\r\\n|\\n\\r|\\r/g;
            convertedtext = text.replace(regex, '<br>');
            if (elementId == "hintText"){
                convertedtext = text.replace(regex, "<br><br>");
            }
            element.innerHTML = convertedtext;
            console.log(text);
        }

        convertAndReplaceText('descriptionText');
        convertAndReplaceText('hintText');
    </script>

{% endblock content %}
