{% extends "index.html" %}
{% load static %}

{% block content %}
    <div class="container">
        <div>
            <h1>Writeups</h1>
            <hr></hr>
        </div>
    </div>

    <div class="all-writeups">
        {% for competition, categories in writeups.items %}

            <h2 class="competetion-name"> {{ competition }}</h2>

            {% for category, writeups in categories.items %}

            <h3 class="category-name"> <i> {{ category }} </i> </h3>

                    <div class="writeups">
                {% for writeup in writeups %}
                        <button class="writeups-button" >
                            <a href='{% url 'writeup' writeup.name %}' class="writeups-link">
                                <h2 class="writeup-name"> {{ writeup.name }} </h2>
                            </a>
                        </button>
                {% endfor %}

                    </div>
            {% endfor %}

        {% endfor %}
    </div>
  
{% endblock content %}

